#python 3.11.3
#python 3.11.3
#python 3.11.3
Django==5.0.3
numpy==1.26.4
pandas==2.2.1
tensorflow-cpu>=2.15.0
efficientnet==1.1.1
django-jazzmin==3.0.0
keras-applications==1.0.8
scikit-image==0.22.0
opencv-python==4.9.0.80
gunicorn==22.0.0
